
#logo-sec{
         
}
.nav-item{
  padding-left: 60px;
  padding-right: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
#sec2{ 
    background-image: url(flight-img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lux{
  
    font-size: 70px;
    color: white;
  

}
.sec2-head{
    text-align: center;
    padding: 100px;
    padding-left:20px;
    margin-bottom: 100px;
    margin-top: 100px;
 
}
.booknow{
    background-color:rgb(8, 93, 136);
    padding: 20px 60px;
    border-radius: 35px;
    border-color:rgb(8, 93, 136) ;
    color: white;
    margin: 5px;
}
.booknow:hover{
    background-color: white;
    color: black;
    border: none;
    transition: 1s;
}
#sec3{
    background-color:#2e80b3;
    padding: 50px; 
 
  
}
.div {
    width: 100px;
    height: 100px;
    background-image: url(2plane.png);
    background-repeat: no-repeat;
    position: relative;
    animation-name: example;
    animation-duration: 22s;
   
  }
  .planepng{
    /* background-color: brown; */
    width: 100%;
  

  }
  
  @keyframes example {
    /* 0%   {background-image:url(2plane.png); left:0px; top:0px;} */
    /* 25%  {background-image:url(2plane.png); left:400px; top:0px;} */
    

}
.lux-box{
    background-color:#2e80b3;
    border: 1px solid white;
    padding:30px 40px;
    margin-top: 80px;
    text-align: center;
 
    color: white ;
}
.lux-box:hover{
    background-color: white;
    transition: 1S;
    color: black;
}  

.icon{
    font-size: 60px;
}
.getto{
   
}
.our{
    text-align: center;
    font-size: 50px;
    color:#2e80b3;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.get-box{
 margin-top: 80px;
}
.img-box{
    margin-top:40px;
}
.our-para{
    font-size: 18px;
    color: gray;
}
.tick{
    font-size: 25px;
    color: #2e80b3;
}
.book2{
        background-color:rgb(8, 93, 136);
        padding: 20px 60px;
        border-radius: 35px;
        border-color:rgb(8, 93, 136) ;
        color: white;
         margin: 5px;
}
.book2:hover{
    background-color: rgb(29, 149, 190);
    border: 2px solid rgb(8, 93, 136); ;
    color: white;
    border: none;
    transition: 1s;
}
.sec4{
    margin-top: 50px;
    margin-bottom: 80px;
}
.sec5{
    margin-top: 50px;
   
}
.exclusive{
    margin-top: 50px;
}
.getcard{
 background-image: url(blue.jpg);
    height: 508px;
    margin-top: 50px;
    color: #2e80b3;
    padding: 50px;
    border: 3px solid  #2e80b3;
 
 
   
}
.get-para{
    margin-top: 50px;
    font-size: 18px;
}
.get-button{
  
    background-color:rgb(8, 93, 136);
    padding: 10px 50px;
    border-radius: 35px;
    border-color:rgb(8, 93, 136) ;
    color: white;
     margin: 5px;
}
.get-button:hover{
   
background-color: rgb(29, 149, 190);
border: 2px solid rgb(8, 93, 136); ;
color: white;
border: none;
transition: 1s;
}
.sec6{
    background-color: #2e80b3;
    margin-top: 80px;

    background-image: url(plane.png);
}
.form-box{
text-align: center;
margin-top: 50px;
color: white;

}
.sec-box{
    padding: 50px;
}
.Request{
    font-size: 50px;
    padding: 20px;
}

.mf-input{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 77px;
  font-size: 20px;
  width: 100%;

    
    
}
.mf-input0{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 50px;
  font-size: 20px;
  width: 100%;

    
}
.mf-input1{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 30px;
  font-size: 20px;
  width: 100%;

    
}
.mf-input2{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 30px;
  font-size: 20px;
  width: 100%;

    
}
.mf-input3{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 50px;
  font-size: 20px;
  width: 100%;

    
    
}

.mf-input4{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 100px;
  font-size: 20px;
  width: 100%;
  margin-right: 20%;


    
}

.mf-input1{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 50px;
    width: 100%;

}
.mf-input5{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 30px;
  font-size: 20px;
  width: 100%;

}


.book3{
    background-color: rgb(2, 40, 59);
    padding: 15px 60px;
    border-radius: 35px;
    border-color: rgb(2, 40, 59);;
    color: white;
     margin: 5px;
     width: 50%;
     margin-right: 50%;
}
.book3:hover{
background-color: white;;
border: 2px solid rgb(8, 93, 136); ;
color: black;
border: none;
transition: 1s;
}
.charter{
    color: white;
    opacity: 0.7;
}
#sec7{
    background-color:whitesmoke;

}
.sec7-head{
    text-align: center;
    margin-top: 80px;
}
.offer{
    color: rgb(199, 165, 71);
}
.flight{
    margin-top: 15px;
   

}
.box1{
    background-color:white;
    height:220px;
    /* width: 80%; */
   position: absolute;
   left: 0px;
   bottom: 50px;
   padding: 15px;

 
}
.inbox{
    height: 500px;
    position: relative;
   
}
.non{
    color: gray;
    font-size: 20px;
    font-weight: 400;
}
.flightfor{
    color: rgb(199, 165, 71); 
   
}
.charter{
    color: #2e80b3;
    padding: 10px;
   
}
.chev{
    color: white;
    background-color: teal;
    display:inline-block;
    float:right;
    padding:  15px 20px;
    margin-top: -45px;

}
.chev:hover{
  background-color: rgb(199, 165, 71);
  transition: 1s;
}
.pilots{
    background-color: #2e80b3;
    height: 250px;
    text-align: center;
    margin: 40px;
    
    
}
.pilot-box{
 
  background-color: #2e80b3;

 
}
.vl{
    border-left: 1px solid rgb(173, 173, 173);
    height: 150px;
    margin-top: -120px;

}
.num{
    font-weight: bolder;
    color: white;
    font-size: 50px;
}
.Professional{
    font-size: 20px;
    color: whitesmoke;
}
.customer{
    text-align: center;
    margin-top: 100px;
    padding: 50px;
}
.whatthey{
    font-size: 60px;
    color: #2e80b3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile{
    background-color: white;

    margin: 20px;
    border-left: 5px solid  rgb(199, 165, 71) ;
}

.there{
    padding: 30px;
    font-size: 25px;
    color: gray;
    font-style: italic;
    margin-top: 20px;
   
    
}
.bs{
    border-radius: 50%;
    float:left;
   margin-top: 65%;
    margin-left: -65px;
}
.quote{
    margin-top: -30px;
  
}
.stars{
    padding: 20px;
}
.bonnie{
    padding-left: 70px;
    font-size: 20px;
}
.star{
   color: #2e80b3;
}


.special{

  padding: 80px;
}
.best{
    font-size: 50px;
    color: white;
}
.spl{
    font-size: 20px;
    color: whitesmoke;
    margin-top: 20px;
}
.disc{
  
    background-color:rgb(8, 93, 136);
    padding: 18px 50px;
    border-radius: 35px;
    border-color:rgb(8, 93, 136) ;
    color: white;
     margin: 5px;
}
.disc:hover{
   
background-color:white;
border: 2px solid rgb(8, 93, 136); ;
color: black;
border: none;
transition: 1s;
}
.meeting{
    height: 800px;
    background-image: url(meeting.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.private{
    margin-top: 90px;
 
  
}
.privateflight{
    color:rgb(199, 165, 71);
  
}
.browse{
    color: #2e80b3;
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
}
.browse-para{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 80px;
}
.arrow{
    padding: 25px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: none;
    margin: 5px;
    color: #2e80b3 ;
}
.arrow:hover{
    background-color: rgb(199, 165, 71) ;
    transition: 1s;

}
@media(max-width:414px){
    .meeting{
        background-size: cover;
        background-position: left bottom;
       
    }
}

.newyork{
    text-align: center;
   
    background-color:rgb(199, 165, 71) ;
    padding: 20px 50px;
    color: white;
   
    
}
.date{
text-align: center;
color: black;
font-size: 25px;
font-weight: 600;
padding: 10px;
margin-bottom: 50px;

}
.day{
    text-align: center;
    color: grey;
    font-size: 20px;
}
.newyork{
  
}
.border-box{
    border: rgb(199, 165, 71) 1px solid;
    margin-top: 60px;
    height: 500px;
    
}
.book4{
 
    background-color:rgb(8, 93, 136);
    padding: 10px 30px;
    border-radius: 35px;
    border-color:rgb(8, 93, 136) ;
    color: white;
     margin: 5px;
}
.book4:hover{
   
background-color:rgb(199, 165, 71) ;
border: 2px solid rgb(8, 93, 136); ;
color: white;
border: none;
transition: 1s;
}
.book4-btn{
    margin-top: 30px;
}
.private-box{
    margin-top: 100px;
    margin-bottom: 100px;
}
.image3{
    background-color:rgb(199, 165, 71);
}
.what-will{
    text-align: center;
    margin-top: 100px;
    color: rgb(1, 28, 1);
}
.checkout{
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
    font-weight: 700;
    color:rgb(1, 28, 1);
    margin-bottom: 50px;
}
.place-img{
    margin: 25px;
    margin-top: 60px;
    margin-bottom: 80px;
    transition: transform .2s;
  
} 
.place {
 margin: 15px;
/* Animation */
 overflow: hidden;
   
   
  }
  
  .place-img:hover {
    transform: scale(1.2); 
  }

.avi-news{
    text-align: center;
    height: 450px;
    margin-top: 90px;
    /* padding: 100px; */

}
.aviation{
 padding: 8px;

}
.iconadmin{
    background-color:rgb(199, 165, 71) ;
    border-radius: 50%;
    padding: 3px 5px;
    color: white;
}
.iconcomment{
    background-color:rgb(199, 165, 71) ;
    border-radius: 50%;
    padding: 3px 5px;
    color: white;  
}
.few-reason{
    /* font-size: 20px; */
    color:rgb(121, 91, 9);
    font-weight: 700;
    padding: 20px;
   text-transform:lowercase;
}
.admin{
    color: grey;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
   
 
}
.few{
   
    margin-top: -150px;
    background-color: ghostwhite;
    height: 650px;
    
  

    
}
.read{
color:rgb(199, 165, 71);
text-decoration: none;
padding: 20px;



}
.read3{
    margin-top: 40px;
}
.avi{
    margin-bottom: 100px;
  
}
.email{
  margin-top: 90px;
  padding: 80px;
  text-align: center;
}
.mf-input{
    padding: 20px 14px;
   
}
.sub-btn{
  
    background-color:rgb(8, 93, 136);
    padding: 18px 80px;
    border-radius: 35px;
    border-color:rgb(8, 93, 136) ;
    color: white;
     margin: 5px;
}
.sub-btn:hover{
   
background-color:white;
border: 2px solid rgb(8, 93, 136);
color: black;
border: none;
transition: 1s;
}
.want{
    font-size: 80px;
    font-weight: 90px;
}
.contact-box{
margin-top: 50px;

padding: 50px;

}
.explore{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.c{
    text-align: center;
    color: white;
    padding: 50px;
}
.iconlast{
    font-size: 20px;
  padding: 50px;
  
}
.ic1{
    border-radius: 50%;
   background-color:rgb(10, 10, 10);
 
    padding: 15px 18px;
}
.ic1:hover{
    background-color: rgb(199, 165, 71);
transition: 1s;
opacity: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

@media(max-width:414px){
    .vl{
        border-bottom: 1px solid rgb(173, 173, 173);
        border-left: none;
        height: 150px;
    }
    .profile{
        background-color: white;
        text-align: center;
       

        border-left: 7px solid  rgb(199, 165, 71) ;
    }
    .bs{
        border-radius: 50%;
      margin-top: -50px;
      height: 100px;
      
      
     
       
    }
    .iconlast{
        font-size: 20px;
      padding: 20px;
    }
    .sub-btn{
  
        background-color:rgb(8, 93, 136);
        padding: 12px 10px;
        border-radius: 35px;
        border-color:rgb(8, 93, 136) ;
        color: white;
         margin: 5px;
    }
    .place-img{
        margin: 8px;
       
    
      
    } 
    #sec2{ 
    background-image: url(flight-img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-right: non;
}
.checkout{
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
    color:rgb(1, 28, 1);
    margin-bottom: 50px;
}
.best{
    font-size: 40px;
    color: white;
}
.email{
  margin-top: -60px;
  padding: 80px;
  text-align: center;
}
.booknow{
    background-color:rgb(8, 93, 136);
    padding: 10px 30px;
    border-radius: 35px;
    border-color:rgb(8, 93, 136) ;
    color: white;
    margin: 5px;
}
.book2{
        background-color:rgb(8, 93, 136);
        padding: 10px 30px;
        border-radius: 35px;
        border-color:rgb(8, 93, 136) ;
        color: white;
         margin: 5px;
}
.book3{
        background-color:rgb(8, 93, 136);
        padding: 10px 30px;
        border-radius: 35px;
        border-color:rgb(8, 93, 136) ;
        color: white;
         margin: 5px;
         margin-left: 30%;
}
.disc{
  
  background-color:rgb(8, 93, 136);
  padding: 8px 50px;
  border-radius: 35px;
  border-color:rgb(8, 93, 136) ;
  color: white;
   margin: 5px;
   font-size: 13px;
}
.checkout{
    text-align: center;
    margin-top: -10px;
    font-size: 40px;
    padding: 15px;
    font-weight: 700;
    color:rgb(1, 28, 1);
    margin-bottom: 50px;
}
.mf-input{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 13px;
    margin-top: 20px;
  font-size: 20px;
 
     
    
}
.mf-input0{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
  font-size: 20px;
  padding: 15px 40px;
  
}
.mf-input1{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 40px;
    margin-top: 20px;
  font-size: 20px;
  
}
.mf-input2{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 62px;
    margin-top: 20px;
  font-size: 20px;
 
}
.mf-input4{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 45px;
  font-size: 20px;
 
    
    
}
.mf-input3{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 30px;
  font-size: 20px;

    
}
.mf-input5{
    background-color:white;
    opacity: 0.5;
    border-radius:8px;
    padding: 15px 0px;
 
  font-size: 20px;
}

    
}


.dropdown {
    display: inline-block;
    position: relative;
  }
  
  button{
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
  }
  
  button:hover{
    background-color:#ddd;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:30px 50px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:1px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(199, 165, 71); ;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  .bs-img{
   padding: none;
  }
  #demo{
    margin-top: 50px;
  }